@model IEnumerable<Debit>
<table class="table">
<thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
        @foreach(var v in Model)
        {
            <tr>
                <th scope="row">@v.Id</th>
                <td>@v.Amount</td>
                <td>@v.Date</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-route-id="@v.Id" asp-action="Add" class="btn btn-primary mx-2" > <i class="bi bi-pencil-square"></i> Add Expense</a>
                           </div>
                </td>
            </tr>
        }
        <div class="row">
            <div class="col-11 w-20 btn-group" role="group">
            </div>
            <div class="col-1 w-20 btn-group" role="group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary mx-2"> Back</a>
            </div>
        </div>
  
</tbody>
</table>